body{
    background-color: linear-gradient(330.6deg, #4176A8 0%, rgba(255, 255, 255, 0) 100%), #5E4FBA;

}

.container-fluid{
   /*padding-top: 20px; 
   padding-left: 75px;
   padding-right: 150px;*/
}