<h5>Present Exercises</h5>
<hr>
<p>Answer each question with the proper conjugated verb to the present tense.</p>

<form id="answerForm">
    <div class="form-group">  
    </div>

    <div class="row">
      <div class="col-2">
        <span class=' text-right'><h3 id="questionPrompt"></h3></span>
      </div>
      <div class="col-6">
          <input autocomplete="off" type="text" class="form-control" id="answerInput" placeholder="[infinitive]">
      </div>
      <div class="col-2">
          <button type="submit" class="btn btn-primary">Send</button>
      </div>
    </div>
    <small id="answerHelp" class="form-text text-muted"></small>
    <p id="answerMissed" class="text-danger"></p>
</form>
<p id="alert"></p>
<br>

<div class="row">
    <div class="col-sm">
        <p id="success" class="alert alert-success" type="success">Success:</p>
    </div>
    <div class="col-sm">
        <p id="missed" class="alert alert-danger" type="danger">Missed:</p>
    </div>
    <div class="col-sm">
      <p id="totalExercises" class="alert alert-primary" type="primary">Total exercises: </p>
    </div>
</div>
</div>
